body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #007BFF;
}

header {
    background-color: #333;
    color: white;
    padding: 10px ;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background-color: #007BFF;
    color: white;
    padding: 60px;
    margin: 3%;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.25rem;
}

.services {
    padding: 5px;
    background-color: #292929;
}

.services h2 {
    text-align: center;
    margin-bottom: 20px;
}

.service-item {
    margin-top: 100%;
    margin: 10px;
    padding: 4px;
}
.social-icons a {
    margin-left: 30%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem;
    transition: 0.3s  ease-in-out;
}